<a href="https://colab.research.google.com/github/ShuHwaiTeoh/ML_practice_project/blob/master/SKLearn/tree.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

# Path of the file to read
dessert_file_path = '/content/drive/My Drive/dessert_recip.csv'

# read the file into a dataframe
dessert_data = pd.read_csv(dessert_file_path, encoding ='Windows-1252')
dessert_data.describe()

             rating      calories  ...    snack week        turkey
count  20052.000000  1.593500e+04  ...  20052.000000  20052.000000
mean       3.714467  6.322958e+03  ...      0.000948      0.022741
std        1.340829  3.590460e+05  ...      0.030768      0.149080
min        0.000000  0.000000e+00  ...      0.000000      0.000000
25%        3.750000  1.980000e+02  ...      0.000000      0.000000
50%        4.375000  3.310000e+02  ...      0.000000      0.000000
75%        4.375000  5.860000e+02  ...      0.000000      0.000000
max        5.000000  3.011122e+07  ...      1.000000      1.000000

[8 rows x 679 columns]

In [0]:
y = dessert_data.rating
y.head()

0    2.500
1    4.375
2    3.750
3    5.000
4    3.125
Name: rating, dtype: float64

In [0]:
x = dessert_data.iloc[:,2:20]
x.head()

   calories  protein   fat  sodium  ...  amaretto  anchovy  anise  anniversary
0     426.0     30.0   7.0   559.0  ...         0        0      0            0
1     403.0     18.0  23.0  1439.0  ...         0        0      0            0
2     165.0      6.0   7.0   165.0  ...         0        0      0            0
3       NaN      NaN   NaN     NaN  ...         0        0      0            0
4     547.0     20.0  32.0   452.0  ...         0        0      0            0

[5 rows x 18 columns]

In [0]:
from sklearn.model_selection import train_test_split

# split data into training and validation data, for both features and target
x_train, x_valid, train_y, val_y = train_test_split(x, y, random_state = 0)
x_train.describe()

           calories        protein  ...         anise   anniversary
count  1.189900e+04   11863.000000  ...  15039.000000  15039.000000
mean   7.909331e+03     112.390121  ...      0.006051      0.005984
std    4.134230e+05    4173.514641  ...      0.077555      0.077130
min    0.000000e+00       0.000000  ...      0.000000      0.000000
25%    1.970000e+02       3.000000  ...      0.000000      0.000000
50%    3.270000e+02       8.000000  ...      0.000000      0.000000
75%    5.790000e+02      27.000000  ...      0.000000      0.000000
max    3.011122e+07  236489.000000  ...      1.000000      1.000000

[8 rows x 18 columns]

In [0]:
# Get names of columns with missing values
cols_with_missing = [col for col in x_train.columns if x_train[col].isnull().any()]

# Drop columns in training and validation data
reduced_x_train = x_train.copy().drop(cols_with_missing, axis=1)
reduced_x_valid = x_valid.copy().drop(cols_with_missing, axis=1)
reduced_x_train.head()

       #cakeweek  #wasteless  22-minute meals  ...  anchovy  anise  anniversary
3671           0           0                0  ...        0      0            0
19353          0           0                0  ...        0      0            0
12136          0           0                0  ...        0      0            0
4853           0           0                0  ...        0      0            0
4056           0           0                0  ...        0      0            0

[5 rows x 14 columns]

In [0]:
from sklearn.impute import SimpleImputer

#SimpleImputer(missing_values=nan, strategy='mean', fill_value=None, verbose=0, copy=True, add_indicator=False)

# Imputation
my_imputer = SimpleImputer(strategy='median')
imputed_x_train = pd.DataFrame(my_imputer.fit_transform(x_train.copy()))
imputed_x_valid = pd.DataFrame(my_imputer.transform(x_valid.copy()))

# Imputation removed column names; put them back
imputed_x_train.columns = x_train.columns
imputed_x_valid.columns = x_valid.columns
imputed_x_valid.head()

   calories  protein   fat  sodium  ...  amaretto  anchovy  anise  anniversary
0     294.0      4.0  16.0   241.0  ...       0.0      0.0    0.0          0.0
1     538.0     15.0  29.0   252.0  ...       0.0      0.0    0.0          0.0
2     414.0     55.0  12.0  1142.0  ...       0.0      0.0    0.0          0.0
3     240.0     12.0  16.0   374.0  ...       0.0      0.0    0.0          0.0
4     327.0      8.0  17.0   290.0  ...       0.0      0.0    0.0          0.0

[5 rows x 18 columns]

In [0]:
# Make copy to avoid changing original data (when imputing)
x_train_plus = x_train.copy()
x_valid_plus = x_valid.copy()

# Make new columns indicating what will be imputed
for col in cols_with_missing:
    x_train_plus[col + '_was_missing'] = x_train_plus[col].isnull()
    x_valid_plus[col + '_was_missing'] = x_valid_plus[col].isnull()

# Imputation
my_imputer = SimpleImputer(strategy='median')
imputed_x_train_plus = pd.DataFrame(my_imputer.fit_transform(x_train_plus))
imputed_x_valid_plus = pd.DataFrame(my_imputer.transform(x_valid_plus))

# Imputation removed column names; put them back
imputed_x_train_plus.columns = x_train_plus.columns
imputed_x_valid_plus.columns = x_valid_plus.columns
imputed_x_train_plus.head()

   calories  protein  ...  fat_was_missing  sodium_was_missing
0     274.0      6.0  ...              0.0                 0.0
1     537.0     18.0  ...              0.0                 0.0
2     426.0      9.0  ...              0.0                 0.0
3     627.0     17.0  ...              0.0                 0.0
4      35.0      1.0  ...              0.0                 0.0

[5 rows x 22 columns]

In [0]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error

datasets = [(reduced_x_train, reduced_x_valid), (imputed_x_train, imputed_x_valid), (imputed_x_train_plus, imputed_x_valid_plus)]
result = []

for data in datasets:
    train, valid = data
    forest_model = RandomForestRegressor(n_estimators=100, criterion='mae', random_state=0)
    forest_model.fit(train, train_y)
    predictions = forest_model.predict(valid)
    result.append(mean_absolute_error(val_y, predictions))
    
"Drop: {:.6f}, Imputation: {:.6f}, Extension to imputation: {:.6f}".format(*result)

'Drop: 0.796982, Imputation: 0.800175, Extension to imputation: 0.801170'